body{
	margin: 0;
	background: black;
	font-family: Cambria, Georgia, serif;
	color: white;
}

a:link { color: #64c9ff; text-decoration: none; }

a:visited { color: #00517e; text-decoration: none; }

a:hover { color: #ca4700; text-decoration: underline; }

a:active { color: #ca4700; text-decoration: underline; }

#fun_wrap{
	width: 100%;
	max-width: 1005px;
	margin: 2em auto;
	background: #222;
	border: solid 1px #444;
	padding-bottom: 2em;
}

#fun_innerwrap{
	width: 90%;
	margin:0 auto;
}

.fun_top{
	position: relative;
	width: 100%;
}

.fun_top h1{
	font-size: 7em;
	font-family:"MillerHeadline Light";
	text-transform: uppercase;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 1%;
	width: 98%;
	xbackground: rgba(0,0,0,.5);
}

.fun_headline{
	font-family:"MillerHeadline Light";
	font-size: 3.5em;
	line-height: 1.15em;
	letter-spacing: .02em;
	padding: 1%;
	width: 98%;
}

.fun_headline span{
	font-size: 1.7em;
}

.fun_bydate{
	margin-top: 2em;
	width: 100%;
	padding-bottom: 2em;
	border-bottom:1px solid #444;
	overflow: hidden;
}

.fun_byline{
	width: 50%;
	float: left;
	font-weight: 900;
	font-variant: small-caps;
}

.fun_date{
	width: 50%;
	float: left;
	font-weight: 100;
	color: #ccc;
	text-align: right;

}

.fun_instruct{
	width: 90%;
	font-style: italic;
	font-size: 1.1em;
	color: #ccc;
	margin: 2em;
}

.fun_group{
	width: 100%;
	position: relative;
	border-bottom: solid 1px #444;
	padding-bottom: 2em;
	margin-bottom: 2em;
}

.fun_button img{
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: .3;
	margin: 5%;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}

.fun_button img:hover{
	opacity: .5;	
}

.fun_caption{
	margin: 0 auto;
	text-align: left;
	font-size: 1em;
	font-weight: 100;
	font-style: italic;
	position: absolute;
	bottom: 2.2em;
	padding: 1% 5% 1% 5%;
	width: 90%;
	background: rgba(0,0,0,.5);
}

hr{ margin: 5em; }

footer{
	font-style: italic;
	text-align: center;
	margin-bottom: 2em;
}

@media (max-width: 665px){
	
	#fun_innerwrap{
		width: 100%;
	}
	
	.fun_headline{
		font-size: 2em;
		position: relative;
		bottom: 0;
		background: rgba(0,0,0,0);
	}
	
	.fun_button img{
		width: 75px;
		height: 75px;
	}
	
	.fun_caption{
		position: relative;
		bottom: 0;
		padding: 0;
		width: 90%;
		background: rgba(0,0,0,0);
	}
	
	.fun_bydate{
		margin-left: 10%;
		width:80%;
	}
	
	.fun_byline{
		width: 100%;
	}

	.fun_date{
		width: 100%;
		text-align: left;
	}
}

/*FONTS*/

@font-face {
	font-family: "BentonSansCond Regular";
	src: url("http://fonts.registerguard.com/benton/sanscondbold.eot");
	src: url("http://fonts.registerguard.com/benton/sanscondbold.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/benton/sanscondbold.woff") format("woff"),
		url("http://fonts.registerguard.com/benton/sanscondbold.ttf") format("truetype"),
		url("http://fonts.registerguard.com/benton/sanscondbold.svg#web") format("svg");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MillerHeadline Bold";
	src: url("http://fonts.registerguard.com/miller/headlinebold.eot");
	src: url("http://fonts.registerguard.com/miller/headlinebold.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/miller/headlinebold.woff") format("woff"),
		url("http://fonts.registerguard.com/miller/headlinebold.ttf") format("truetype"),
		url("http://fonts.registerguard.com/miller/headlinebold.svg#web") format("svg");
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "MillerHeadline Light";
	src: url("http://fonts.registerguard.com/miller/headlinelight.eot");
	src: url("http://fonts.registerguard.com/miller/headlinelight.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/miller/headlinelight.woff") format("woff"),
		url("http://fonts.registerguard.com/miller/headlinelight.ttf") format("truetype"),
		url("http://fonts.registerguard.com/miller/headlinelight.svg#web") format("svg");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family:"RGWeb";
	src:url("http://fonts.registerguard.com/rg/rgweb.eot");
	src:url("http://fonts.registerguard.com/rg/rgweb.eot?#iefix") format("embedded-opentype"),
		url("http://fonts.registerguard.com/rg/rgweb.woff") format("woff"),
		url("http://fonts.registerguard.com/rg/rgweb.ttf") format("truetype"),
		url("http://fonts.registerguard.com/rg/rgweb.svg#RGWeb") format("svg");
	font-weight:normal;font-style:normal;
}
